<h1>Dashboard</h1>
<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span6">
        <span>
          Catches map
        </span>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <%= render 'activity_feed' %>
      </div>
    </div>
  </div>
  <div class="span6">
    <span>
      Statistics
    </span>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>
