<div class="hero-unit">
  <h1>Welcome to Nereus</h1>
  <p class="lead">
    The best fishing log for any angler. Powerful, simple and, of course, free.
  </p>
  <p>
    <%= link_to 'Sign up now', new_user_registration_path, class: 'btn btn-success btn-large' %>
    or <%= link_to('login with your account', new_user_session_path) %> .
  </p>
</div>