<div class="hero-unit">
  <h1>Welcome to Nereus</h1>
  <p class="lead">
    The best fishing log for any angler. Powerful, simple and, of course, free.
  </p>
  <p>
    <a class="btn btn-success btn-large">
      Sign up
    </a>
  </p>
</div>